{% extends 'base.html'%}

{% block title %}
ARTISTS
{%endblock%}

{% block content %}
    <div class="content-padding">
        <div class="form-container">
            <h1>enter your last.fm username</h1>
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <p><input type="search" placeholder="Last.fm username" name="username" autocomplete="new_password"
                          value="{{username}}">
                    <select name="grid" id="grid">
                        <option value="{{size}}">{{size_verbose}}</option>
                        <option disabled>---------</option>
                        <option value="3">3x3</option>
                        <option value="4">4x4</option>
                        <option value="5">5x5</option>
                    </select>
                    <select name="period" id="period">
                        <option value="{{period}}">{{period_verbose}}</option>
                        <option disabled>---------</option>
                        <option value="7day">7 days</option>
                        <option value="1month">1 month</option>
                        <option value="3month">3 months</option>
                        <option value="6month">6 months</option>
                        <option value="12month">12 months</option>
                        <option value="overall">Overall</option>
                    </select>
                    <input type="submit" value="submit" ></p>
                 <input type="checkbox" name="overlay" id="overlay" checked="{{overlay}}">
                <label for="overlay">Show the artist card overlay (if unchecked the overlay will be only shown
                    on hover)</label>
            </form>
        </div>
        <div class="greeting">
            <h1>{{greeting}}</h1>
        </div>
        {% if artists %}
<!--            {% if top_three %}-->
<!--                <div class="top-three">-->
<!--                    <h1>Here's Your Top 3</h1>-->
<!--                    <div class="chart-container">-->
<!--                        {% for artist in  top_three%}-->
<!--                            <div class="track-container">-->
<!--                                <div class="track-num">-->
<!--                                    {{forloop.counter}}-->
<!--                                </div>-->
<!--                                <div class="track-cover artist-cover"-->
<!--                                     style="background-image:url({{artist.artist_image}})"></div>-->
<!--                                <div class="track-info">-->
<!--                                    <p class="track-name"> {{artist.artist_name}} </p>-->
<!--                                    <p class="track-artist"><b>Your Scrobbles: </b>{{artist.playcount}}</p>-->
<!--                                     <p class="track-artist"><b>Country: </b>{{artist.country}}</p>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endif %}-->

            <div class="artists-container grid{{size}}">

                {% for item in artists %}
                <div class="artist-card" style="background-image:url({{item.artist_image}})">
                    <div class="artist-info {{overlay}}">
                        <a href={{item.artist_url}}>    {{forloop.counter}}. {{item.artist_name}}
                            {% if item.flag != 'None' %}
                                <img class="flag-smaller" src="{{item.flag}}">
                            {% endif %}
                        </a>

                        <p>Playcount: {{item.playcount}}</p>
                        <p></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}