{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            home
        {% endblock %}

    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'view_artists' %}">Artists</a>
        <a href="{% url 'view_albums' %}">Albums</a>
        <a href="{% url 'tracks' %}">Tracks</a>
        <a href="{% url 'profile' %}">Your Profile</a>
         <a href="">SOMETHING ELSE</a>
        <a href="/admin">ADMIN REMOVE THIS LATER</a>
    </div>
    <div class="main__container">
        {%block content%}
            content goes here
        {% endblock %}
    </div>
</body>
</html>