{% extends 'base.html'%}

{% block title%}
    HOME | Last.fm Charts
{% endblock %}



{% block content %}
    <div class="home-container">
        <div class="home-banner">
            <div class="banner-text">
                <h1>LAST.FM CHARTS</h1>
                <p>Scroll Down ⬇️</p>
            </div>
        </div>
        <div class="home-features">
            <h1 id="home-heading">Welcome to LAST.FM CHARTS!</h1>

            <h2>How To use</h2>
            <ol>

                <li>Choose the Category from the menu above</li>
                <li>Enter your Last.fm username into the input field</li>
                <li>Choose the grid size for artists or albums grid, or the number of tracks for the top tracks
                    chart</li>
                <li>Choose the period</li>
                <li>Press submit. Note that it might take some time to fetch the results</li>
                <li>You may also choose to display overlays on the artist/album cards</li>
            </ol>
             
        </div>
    </div>
{% endblock %}