{% extends 'base.html'%}

{% block title %}
TRACKS
{%endblock%}

{% block content %}
    <div class="content-padding">
         <div class="form-container">
            <h1>enter your last.fm username</h1>
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <p><input type="search" placeholder="Last.fm username" name="username" autocomplete="new_password">
                    <select name="quantity" id="quantity">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>
                    <select name="period" id="period">
                        <option value="7day">7 days</option>
                        <option value="1month">1 month</option>
                        <option value="3month">3 months</option>
                        <option value="6month">6 months</option>
                        <option value="12month">12 months</option>
                        <option value="overall">Overall</option>
                    </select>
                    <input type="submit" value="submit" ></p>

            </form>
        </div>

        <div class="greeting">
               <h1>{{greeting}}</h1>
        </div>
        <div class="chart-container">
            {% for track in tracks %}
                <div class="track-container">
                    <div class="track-num">
                        {{track.num}}
                    </div>
                    <div class="track-cover" style="background-image:url({{track.album_cover}})"></div>
                    <div class="track-info">
                        <p class="track-name"> {{track.name}} </p>
                        <p class="track-artist">{{track.artist}}</p>
                        <p class="track-album-name">{{track.album_name}}</p>
                        <p class="track-playcount">Your scrobbles: {{track.playcount}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}