@media (max-width: 1000px) {
        
        /* MENU */

        /* hidden */
        .menu{
            
            height: 100vh;
            width: 100%;
            
           
        }



        .menu a{
            display: block;
            font-size: 3.5em;
            line-height: 160%;
        }
        .main-menu{
            display: none;
        }
        .burger-menu{
            display: block;
            position: fixed;
            left: -100%;
            padding: 5% 0;
        }
        .burger-menu-op{
            left: 0;
        }
        
        /* menu button */
        
        .menu-button{
            position: absolute;
      
            top: 5%;
            left: 5%;
            width: 60px;
            height: 60px;
        }
        .button-stripes{
            display: inline-block;
            width: 40px;
            height: 6px;
            background-color: rgb(255, 255, 255);
            
           
        }
        .button-stripes::before{
            content: "";
            position: relative;
            display: inline-block;
            border-bottom: 1px solid white;
            width: 40px;
            height: 6px;
            top: -20px;
            right: 0;
            background-color: rgb(255, 255, 255);

        }
        .button-stripes::after{
            content: "";
            position: relative;
            display: inline-block;
            border-bottom: 1px solid white;
            width: 40px;
            height: 6px;
            top: -18px;
            right: 0;
            background-color: rgb(255, 255, 255);

        }
        .button-close{
            z-index: 100;
            left: 80%;
            position: absolute;

        }

        .stripe-x{
            transform: rotate(45deg);
        }
        .stripe-x::after{
            display: none;
        }
        .stripe-x::before{
            transform: rotate(90deg);
            top: -8px;
        }




        
        /* MAIN PAGE HEADER */
        .main__container{
            margin: 0;
            padding: 20% 0;
        }

        .home-banner{
            background-image: none;
            /* background-color: rgb(0, 0, 0); */
            width: 100%;
            
        }
        .banner-text{
            text-align: center;
            color: white;
            backdrop-filter: none;
        }

        
        
        /* FOOTER */
        .link-container{
            flex-direction: column;
            font-size: 2em;
            width: 100%;
        }
        .link-container .links{
            margin: 2vh 0;
        }


        .footer-container{
            flex-direction: column;
        }
        .contact-container img{
            width: 10vw;

        }        
        
        
        /* FORM */
        .form-container{
            width: 100%;
        }

        form{
            width: 70%;
            margin: 5vh auto;
        }
        .form-container input[type=text], .form-container input{
            display: block;
            width: 100%;
            margin-bottom: 2vh;
        }
        .form-container input[type=submit]{
            padding: 20px;
        }
        /* ARTISTS */
        .top-three{
            margin: 0;
            width: 100%;
            padding: 2vw;
        }
        
        .number-one{
            flex-direction: column;
        }
        .one-pic{
            width: 100%;
        
        }

        .one-info{
            width: 100%;
            padding: 0 1vw;
        }
        .two-three{
            grid-template-columns: 1fr;
        }
        .runner-up{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .two-info{
            text-align: center;
            padding: 0 1vw;
        }

        .greeting{
            width: 95%;
        }
        .artists-container, .albums-container{
            width: 100%;
            grid-template-columns:  1fr;
            padding: 0 1vw;
        }
        .artist-card, .album-card{
            width: auto;
            height: 60vh;
            /* background-size: contain; */
            /* background-repeat: no-repeat; */
            background-color: black;

        }

       /* TRACK CHARTS */
       .chart-container{
           width: 100% !important;
           max-width: 100vw;
       }
       .track-container{
           width: 100%;
           display: grid;
           grid-template-columns: 1fr 3fr 5fr
       }
       .track-num{
        width: auto;
        padding: 10px;
        min-width: 20%;
       }
      .track-name{
          font-size: 1.2em;
      }
      .track-artist{
          font-size: 1.1em;
      }
      .track-album-name{
          font-size: 0.9em;
      }
      

       /* PROFILE */
       .profile-container{
           width: 95vw;
           flex-direction: column;
           padding: 2vh 1vw;
       }
       .user-image{
           width: 100%;
       }
       .user-info h1{
           text-align: center;
       }
       .user-info a{
           color: white;
       }

}
